body {
    display: flex;
    font-family: Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #110202;
    margin: 0; /* Remove default body margin */
}
.main-content {
        background-color: #0e0101;
        border-radius: 50px;
        display: block;
        width: 80%;
        height: 80%;
        justify-content: center;
        align-items: center;
        /* max-width: 500px ; Set max-width for responsiveness */
        text-align: center; /* Center text horizontally */
        padding: 20px; /* Add padding for content */
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
h1   {color: rgb(255, 255, 255);}
h2   {color: rgb(187, 185, 185);}
p    {color: rgb(255, 0, 0);}
img  {
    border-radius: 150px;
    background-color: rgb(215, 58, 58);
    margin: 70px;
}
.ahmed{
    display: block;
    justify-content: center;
    align-items: center;
}
.swiri{
    /* box-shadow: 2px 2px 2px 2px rgb(235, 15, 235); */
    /* display: block; */
    display: block;
    justify-content: center;
    align-items: center;
}
.swiri img {
    object-fit: contain;
}
.ayoub{
    justify-content: center;
    align-items: center;
    display: block;
}